.settings
*.db
.classpath
.project
*.iml
*.ipr
*.iws
dist/
lib_managed/
project/boot/
project/plugins/project/
target/

# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml

# vscode 
.bloop 
.metals 
project/.bloop

# building
target
build
null
tmp*
temp*
dist
test-output
build.log
.cache

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#SHITTY output not in target directory
build.log
.DS_Store
derby.log

db

.lib
sbt-launch.jar

logs

awscala-unit-test-keypair-*

.ensime*

.dynamodb-local
